.d{
    background-color: lightseagreen;
    width: 100%;
    height: 100px;
}
.m{
    position: relative;
    left: 600px;
    top: 50px;
}
.m>a:hover{
    opacity: 0.50;
}
#d{
    background-color: pink;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: center;
    padding: 10px;
    width: 200px;
}
.menu{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.fatherdiv{
    width: 1100px;
    height: 100%;
}
#footer {
    background: #4c8f96;
    border-top: 1px solid #9bd9e0;
    margin: 0;
    padding: 0;
}
#footer div .connect {
    background: #387a82;
    float: right;
    height: 18px;
    margin: 0 20px 0 150px;
    padding: 22px 20px;
    overflow: hidden;
    width: 144px;
}
#footer > div {
    margin: 0 auto;
    padding: 30px 0 28px;
    overflow: hidden;
    text-align: center;
    width: 960px;
}
body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body > .more {
    color: #464646;
    display: block;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 80px;
}
#saclar>div{
    box-shadow: 10px 10px 10px 7px black;
}
#saclar{
    width: 1100px;
    height: 1100px;
    margin: auto;
}

.kutu3{
    background-color: black;
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    width: 200px;
    height: 200px;
    border: solid;
    border-color: teal;
    box-shadow: 10px 10px 10px 7px black;
}
.kutu33{
    background-color: black;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    border: solid;
    border-color: teal;
    box-shadow: 10px 10px 10px 7px black;
}
.k3resim:hover{
    cursor: grab;
    opacity: 0.9;
}
.k3resim{
    width: 100%;
    height: 100%;
}